body {
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;

  font-size: 24px;
}
body,
html {
  height: 98%;
}

.container-body {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}

.page-body {
  background-repeat: no-repeat;
  background-size: auto; 
}

h1{
  color: blue;
}


